In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
titanic = sns.load_dataset('titanic')

In [34]:
titanic.drop(['class', 'who', 'adult_male', 'alive'], axis = 1, inplace=True)

In [35]:
titanic.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,embark_town,alone
0,0,3,male,22.0,1,0,7.2500,S,NaN,Southampton,False
1,1,1,female,38.0,1,0,71.2833,C,C,Cherbourg,False
2,1,3,female,26.0,0,0,7.9250,S,NaN,Southampton,True
3,1,1,female,35.0,1,0,53.1000,S,C,Southampton,False
4,0,3,male,35.0,0,0,8.0500,S,NaN,Southampton,True

In [36]:
X = titanic.drop('survived', axis = 1)
y = titanic['survived']

In [37]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import StandardScaler , OneHotEncoder

In [40]:
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import SGDClassifier

In [42]:
titanic_dummies = pd.get_dummies(titanic)

In [44]:
#Corrélation absolute and sorted

titanic_dummies.corr().abs().sort_values(by='survived', ascending=False)

,survived,pclass,age,sibsp,parch,fare,alone,sex_female,sex_male,embarked_C,...,deck_A,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
survived,1.000000,0.338481,0.077221,0.035322,0.081629,0.257307,0.203367,0.543351,0.543351,0.168240,...,0.022287,0.175095,0.114652,0.150716,0.145321,0.057935,0.016040,0.168240,0.003650,0.155660
sex_male,0.543351,0.131900,0.093254,0.114631,0.245489,0.182333,0.303646,1.000000,1.000000,0.082853,...,0.078271,0.109689,0.058649,0.079248,0.047003,0.008202,0.091031,0.082853,0.074115,0.125722
sex_female,0.543351,0.131900,0.093254,0.114631,0.245489,0.182333,0.303646,1.000000,1.000000,0.082853,...,0.078271,0.109689,0.058649,0.079248,0.047003,0.008202,0.091031,0.082853,0.074115,0.125722
pclass,0.338481,1.000000,0.369226,0.083081,0.018443,0.549500,0.135207,0.131900,0.131900,0.243292,...,0.204934,0.369572,0.417048,0.278690,0.230091,0.011063,0.055561,0.243292,0.221009,0.081720
fare,0.257307,0.549500,0.096067,0.159651,0.216225,1.000000,0.271832,0.182333,0.182333,0.269335,...,0.019549,0.386297,0.364318,0.098878,0.053717,0.033093,0.025180,0.269335,0.117216,0.166603
alone,0.203367,0.135207,0.198270,0.584471,0.583398,0.271832,1.000000,0.303646,0.303646,0.095298,...,0.052762,0.064914,0.125062,0.083664,0.028179,0.015972,0.082709,0.095298,0.086464,0.024929
deck_B,0.175095,0.369572,0.093914,0.034538,0.056498,0.386297,0.064914,0.109689,0.109689,0.168642,...,0.030880,1.000000,0.062841,0.046280,0.045547,0.028715,0.015847,0.168642,0.072579,0.123057
embarked_C,0.168240,0.243292,0.036261,0.059528,0.011069,0.269335,0.095298,0.082853,0.082853,1.000000,...,0.093040,0.168642,0.113952,0.102977,0.015939,0.034726,0.032371,1.000000,0.148258,0.778359
embark_town_Cherbourg,0.168240,0.243292,0.036261,0.059528,0.011069,0.269335,0.095298,0.082853,0.082853,1.000000,...,0.093040,0.168642,0.113952,0.102977,0.015939,0.034726,0.032371,1.000000,0.148258,0.778359
embarked_S,0.155660,0.081720,0.032523,0.070941,0.063036,0.166603,0.024929,0.125722,0.125722,0.778359,...,0.055383,0.123057,0.066995,0.051139,0.038685,0.033537,0.041589,0.778359,0.496624,1.000000
embark_town_Southampton,0.155660,0.081720,0.032523,0.070941,0.063036,0.166603,0.024929,0.125722,0.125722,0.778359,...,0.055383,0.123057,0.066995,0.051139,0.038685,0.033537,0.041589,0.778359,0.496624,1.000000
deck_D,0.150716,0.278690,0.136975,0.017575,0.019125,0.098878,0.083664,0.079248,0.079248,0.102977,...,0.025663,0.046280,0.052225,1.000000,0.037852,0.023864,0.013170,0.102977,0.060318,0.051139
deck_E,0.145321,0.230091,0.121440,0.036865,0.016554,0.053717,0.028179,0.047003,0.047003,0.015939,...,0.025256,0.045547,0.051398,0.037852,1.000000,0.023486,0.012961,0.015939,0.037897,0.038685
deck_C,0.114652,0.417048,0.122041,0.029251,0.030736,0.364318,0.125062,0.058649,0.058649,0.113952,...,0.034846,0.062841,1.000000,0.052225,0.051398,0.032403,0.017883,0.113952,0.049776,0.066995
parch,0.081629,0.018443,0.189119,0.414838,1.000000,0.216225,0.583398,0.245489,0.245489,0.011069,...,0.040325,0.056498,0.030736,0.019125,0.016554,0.023694,0.072388,0.011069,0.081228,0.063036
age,0.077221,0.369226,1.000000,0.308247,0.189119,0.096067,0.198270,0.093254,0.093254,0.036261,...,0.136309,0.093914,0.122041,0.136975,0.121440,0.083970,0.077296,0.036261,0.022405,0.032523
deck_F,0.057935,0.011063,0.083970,0.001706,0.023694,0.033093,0.015972,0.008202,0.008202,0.034726,...,0.015923,0.028715,0.032403,0.023864,0.023486,1.000000,0.008171,0.034726,0.004113,0.033537
sibsp,0.035322,0.083081,0.308247,1.000000,0.414838,0.159651,0.584471,0.114631,0.114631,0.059528,...,0.046266,0.034538,0.029251,0.017575,0.036865,0.001706,0.001402,0.059528,0.026354,0.070941
deck_A,0.022287,0.204934,0.136309,0.046266,0.040325,0.019549,0.052762,0.078271,0.078271,0.093040,...,1.000000,0.030880,0.034846,0.025663,0.025256,0.015923,0.008787,0.093040,0.040246,0.055383
deck_G,0.016040,0.055561,0.077296,0.001402,0.072388,0.025180,0.082709,0.091031,0.091031,0.032371,...,0.008787,0.015847,0.017883,0.013170,0.012961,0.008171,1.000000,0.032371,0.020654,0.041589
embarked_Q,0.003650,0.221009,0.022405,0.026354,0.081228,0.117216,0.086464,0.074115,0.074115,0.148258,...,0.040246,0.072579,0.049776,0.060318,0.037897,0.004113,0.020654,0.148258,1.000000,0.496624
embark_town_Queenstown,0.003650,0.221009,0.022405,0.026354,0.081228,0.117216,0.086464,0.074115,0.074115,0.148258,...,0.040246,0.072579,0.049776,0.060318,0.037897,0.004113,0.020654,0.148258,1.000000,0.496624