In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {'red_liquid': [3, 8, 5],
        'white_liquid': [13,14,19]}

In [3]:
A = pd.DataFrame(dict1, index=['Alex', 'John', 'Jihad'])

In [5]:
dict1

{'red_liquid': [3, 8, 5], 'white_liquid': [13, 14, 19]}

In [6]:
A

       red_liquid  white_liquid
Alex            3            13
John            8            14
Jihad           5            19

In [9]:
A['red_liquid']

Alex     3
John     8
Jihad    5
Name: red_liquid, dtype: int64

In [36]:
A.quantile([0.25, 0.5, 0.75,1])

      red_liquid  white_liquid
0.25         4.0          13.5
0.50         5.0          14.0
0.75         6.5          16.5
1.00         8.0          19.0

In [35]:
A

       red_liquid  white_liquid
Alex            3            13
John            8            14
Jihad           5            19

In [92]:
couleur = np.array((['black','black', 'white'],[90, 75, 60])).reshape(2,3)

In [93]:
couleur

array([['black', 'black', 'white'],
       ['90', '75', '60']], dtype='<U11')

In [98]:
couleur_df = pd.DataFrame(couleur.transpose(), index=['Alex', 'John', 'Jihad'], columns=['couleur','poids'])

In [99]:
couleur.shape

(2, 3)

In [100]:
couleur

array([['black', 'black', 'white'],
       ['90', '75', '60']], dtype='<U11')

In [102]:
df = pd.merge(A, couleur_df, left_index=True, right_index=True)

In [103]:
pd.merge(A, couleur_df, left_index=True, right_index=True)

       red_liquid  white_liquid couleur poids
Alex            3            13   black    90
John            8            14   black    75
Jihad           5            19   white    60

In [112]:
df.groupby('couleur')['poids'].agg(['min', 'max','median','mean'])

        min max  median    mean
couleur
black    75  90    82.5  4537.5
white    60  60    60.0    60.0

In [115]:
# Groupby + agg(dictionnaire) ------------------------------ 
# ----------------------------tableau croisé avec aggrégation puis selection de fonction d'aggrégat pour chaque variable

df.groupby('couleur').agg({'red_liquid':['min'],
                            'white_liquid':['max'],
                             'poids':['mean']})

        red_liquid white_liquid   poids
               min          max    mean
couleur
black            3           14  4537.5
white            5           19    60.0

# Test case 1

In [133]:
import numpy as np

r =2
lst =[1.2 ,0 ,0.5 ,-1]
arr = np.array(lst)
arr1 = arr.reshape(r,2)
print(arr1)

[[ 1.2  0. ]
 [ 0.5 -1. ]]

# Test case 2

In [135]:
import numpy as np

r = 3
arr = np.array([1,2,1,0.5,1,0.3])
arr1 = arr.reshape(r,2)
print(arr1)

[[1.  2. ]
 [1.  0.5]
 [1.  0.3]]