# lesson 3

In [1]:
height = [189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175, 178, 183, 193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178, 182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177, 185, 188, 188, 182, 185, 191]

In [4]:
count = 0
for h in height:
    if h > 188:
        count = count +1
    
print(count)

5

#### Exo 2

In [2]:
import numpy as np

In [7]:
height_arr = np.array(height)

In [12]:
(height_arr > 188).sum()

5

In [13]:
height_arr.size

45

In [14]:
height_arr.shape

(45,)

In [18]:
height_arr.shape[0]

45

# Reshape

In [3]:
ages = [57, 61, 57, 57, 58, 57, 61, 54, 68, 51, 49, 64, 50, 48, 65, 52, 56, 46, 54, 49, 51, 47, 55, 55, 54, 42, 51, 56, 55, 51, 54, 51, 60, 62, 43, 55, 56, 61, 52, 69, 64, 46, 54, 47, 70]

In [20]:
height_ages = height + ages

In [21]:
height_ages_array = np.array(height_ages)

In [23]:
height_ages_array

array([189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
       178, 183, 193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178,
       182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177,
       185, 188, 188, 182, 185, 191,  57,  61,  57,  57,  58,  57,  61,
        54,  68,  51,  49,  64,  50,  48,  65,  52,  56,  46,  54,  49,
        51,  47,  55,  55,  54,  42,  51,  56,  55,  51,  54,  51,  60,
        62,  43,  55,  56,  61,  52,  69,  64,  46,  54,  47,  70])

In [24]:
height_ages_array.reshape(2,45)

array([[189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178,
        182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177,
        185, 188, 188, 182, 185, 191],
       [ 57,  61,  57,  57,  58,  57,  61,  54,  68,  51,  49,  64,  50,
         48,  65,  52,  56,  46,  54,  49,  51,  47,  55,  55,  54,  42,
         51,  56,  55,  51,  54,  51,  60,  62,  43,  55,  56,  61,  52,
         69,  64,  46,  54,  47,  70]])

In [1]:
height = [189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175, 178, 183, 193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178, 182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177, 185, 188, 188, 182, 185, 191]

In [3]:
height_arr = np.array(height)

In [4]:
height_arr

array([189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
       178, 183, 193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178,
       182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177,
       185, 188, 188, 182, 185, 191])

In [8]:
height_arr[2]

189

In [11]:
height_ages= height +ages

In [13]:
height_ages_2darray = (np.array(height_ages)).reshape(2,45)

In [18]:
height_ages_2darray[1,0:3]

array([57, 61, 57])

In [23]:
height_ages_2darray[:,0:5]

array([[189, 170, 189, 163, 183],
       [ 57,  61,  57,  57,  58]])

In [24]:
height_ages_2darray[:,3]

array([163,  57])

In [29]:
height_ages_2darray[:1,:2]

array([[189, 170]])

In [30]:
# change values with subsets

height_ages_2darray[:,0]= [210, 110]

In [31]:
height_ages_2darray

array([[210, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178,
        182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177,
        185, 188, 188, 182, 185, 191],
       [110,  61,  57,  57,  58,  57,  61,  54,  68,  51,  49,  64,  50,
         48,  65,  52,  56,  46,  54,  49,  51,  47,  55,  55,  54,  42,
         51,  56,  55,  51,  54,  51,  60,  62,  43,  55,  56,  61,  52,
         69,  64,  46,  54,  47,  70]])

In [34]:
ages_arr = np.array(ages)

In [37]:
ages_reshaped = ages_arr.reshape(1,45)

In [38]:
height_reshaped = height_arr.reshape(1,45)

In [41]:
height_ages_hstack = np.vstack((height_reshaped, ages_reshaped))

In [42]:
height_ages_hstack

array([[189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178,
        182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177,
        185, 188, 188, 182, 185, 191],
       [ 57,  61,  57,  57,  58,  57,  61,  54,  68,  51,  49,  64,  50,
         48,  65,  52,  56,  46,  54,  49,  51,  47,  55,  55,  54,  42,
         51,  56,  55,  51,  54,  51,  60,  62,  43,  55,  56,  61,  52,
         69,  64,  46,  54,  47,  70]])

In [4]:
height_ages_2darray = (np.array((height, ages))).reshape(2,45)

In [5]:
height_ages_2darray

array([[189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178,
        182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177,
        185, 188, 188, 182, 185, 191],
       [ 57,  61,  57,  57,  58,  57,  61,  54,  68,  51,  49,  64,  50,
         48,  65,  52,  56,  46,  54,  49,  51,  47,  55,  55,  54,  42,
         51,  56,  55,  51,  54,  51,  60,  62,  43,  55,  56,  61,  52,
         69,  64,  46,  54,  47,  70]])

In [8]:
height_ages_2darray.sum(axis=1)

array([8100, 2475])

In [12]:
height_ages_2darray[:,0]==55

array([False, False])

In [17]:
(height_ages_2darray[1,:]==55).sum()

4

# Mask & subsetting

In [48]:
mask = height_ages_2darray[:,0] >= 182

In [49]:
mask.sum()

1

In [50]:
mask

array([ True, False])

In [51]:
height_ages_2darray[mask,]

array([[189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178,
        182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177,
        185, 188, 188, 182, 185, 191]])

In [52]:
height_ages_arr = np.array(height+ages)

In [56]:
mask1 = height_ages_arr>= 182

In [59]:
height_ages_arr[mask1,]

array([189, 189, 183, 185, 183, 183, 193, 183, 183, 182, 183, 182, 188,
       183, 193, 182, 183, 185, 188, 188, 182, 185, 191])

In [60]:
mask2 = (height_ages_arr[:,0]>182) & (height_ages_arr[:,1])

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [1]:
import numpy as np

In [3]:
n, p = [int(x) for x in input().split()]

2 2

In [12]:
arr = np.array([[1.5,1],[2,2.9]]).reshape(2,2)
arr.mean(axis=1)

array([1.25, 2.45])

In [11]:
arr

array([[1.5, 1. ],
       [2. , 2.9]])

# Test

## Test case 1

In [8]:
import numpy as np 

n = 2
p = 2

a = np.array([1.5,1,2,2.9])
arr= a.reshape(2,2)
arr2= np.round(arr.mean(axis=1),decimals=2 )
print(arr2)

[1.25 2.45]

## Test case 2

In [7]:
import numpy as np 

n=3
p=2
arr = np.array([1,2,1,0.5,1,0.3]).reshape(n,p)
arr2 = arr.mean(axis=1)
print(arr2)

[1.5  0.75 0.65]